<style>
table {
  background-color: "c8c2bc"; 
  cellspacing: 2;
  cellpadding: 5;
  align: center;
}
caption {
  font-family: Courier New;
  font-style: bold;
}
th {
  font-family: Franklin Gothic Demi; 
  font-size: 20px;
  color: 4a503d;
  font-style: bold;
}
td {
  font-family: Century Gothic;
  color: 4a503d;
}
#t1 {
  background-color: "e1e5ea";
  font-family: Cambria;
  color: black;
}
