<style>
table {
  bgcolor: "c8c2bc"; 
  cellspacing: 2;
  cellpadding: 5;
  align: center;
}
caption {
  font-family: Courier New;
  font-style: bold;
}
th {
  font-family: Courier New; 
  color: 4a503d;
  font-style: bold;
}
td {
  font-family: RomanD;
  color: 4a503d;
}
