<style>
body {
  background-color: f9dfdc;
}
table {
  background-color: c8c2bc; 
  cellspacing: 2;
  cellpadding: 5;
  align: center;
}
caption {
  font-family: Courier New;
  font-weight: bold;
}
th {
  font-family: Franklin Gothic Demi; 
  font-size: 20px;
  color: 4a503d;
  font-style: bold;
}
td {
  font-family: Century Gothic;
  color: 4a503d;
}
#t1 {
  background-color: e1e5ea;
  font-family: Cambria;
  color: black;
}
#dcit23 {
  background-color: ffdf6b;
  rowspan: 3;
  align:center;
  font-family: Century Gothic;
  color: 4a503d;
}
#itec50 {
  background-color: 867ae9;
  rowspan: 3;
  align:center;
  font-family: Century Gothic;
  color: 4a503d;
}
#dcit22 {
  background-color: c67ace;
  rowspan: 3;
  align:center;
  font-family: Century Gothic;
  color: 4a503d;
}
</style>
